.main__post {

    display: flex;
    margin-bottom: 2rem;
}

.main__post--imagem {
    margin-right: 1rem;
}

.main__post--imagem img {
    width: 45vw;
    height: 382px;
    border-radius: 10px;
}

.main__post--titulo {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main__post--descricao {
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 480px) {
    .main__post {
        flex-direction: column;
    }

    .main__post--imagem {
        margin-right: 0;
    }

    .main__post--imagem img {
        width: 100%;
        height: 200px;
    }

    .main__post--titulo {
        font-size: 1.3rem;
    }

    .main__post--descricao {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .main__post {
        align-items: center;
    }
    
    .main__post--imagem {
        text-align: center;
    }

    .main__post--imagem img {
        height: 230px;
    }

    .main__post--titulo {
        font-size: 1.5rem;
    }

    .main__post--descricao {
        font-size: 1rem;
        margin-bottom: 0;
    }
}