.post__list--container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .post_list--container {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .post__list--container {
        flex-direction: column;
    }
}