main {
    margin-bottom: 2rem;

    width: 90%;
    margin: 0 auto;
}

.comentarios__titulo {
    font-size: 2rem;
    text-align: center;
    color: #5a5854;
}

@media screen and (max-width: 480px) {
    .comentarios__titulo { 
        font-size: 1.3rem;
        font-weight: bold;
    }
}